@font-face {
    font-family: 'avenir-next';
    src: url('../fonts/avenir-next/avenir-next.ttf') format('ttf'),
         url('../fonts/avenir-next/avenir-next.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


