html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'avenir-next';
  src: url("../fonts/avenir-next/avenir-next.ttf") format("ttf"), url("../fonts/avenir-next/avenir-next.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url("../fonts/proxima-nova/proxima-nova.woff") format("woff"), url("../fonts/proxima-nova/proxima-nova.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat/montserrat.woff") format("woff"), url("../fonts/montserrat/montserrat.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url("../fonts/open-sans/open-sans.woff") format("woff"), url("../fonts/open-sans/open-sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body * {
  box-sizing: border-box;
  line-height: 1.4;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 100%;
  padding: 5% 5% 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header .wrapper {
  display: flex;
}

.header-description {
  margin-left: 13px;
}

.header-text {
  font-family: 'avenir-next', sans-serif;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.header-line {
  margin-top: 1px;
  width: 38px;
  height: 3px;
  background-color: #a2ca28;
}

.header-link {
  display: inline-block;
  font-family: 'avenir-next', sans-serif;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;
}

.header-link:hover {
  color: #ebebeb;
}

.header-link:active {
  color: #c9c9c9;
}

.header-link:not(:last-child) {
  margin-right: 50px;
}

.header-bottom {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

.header-title {
  font-family: 'avenir-next', sans-serif;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

.header-title span {
  color: #a2ca28;
}

.header-subtitle {
  margin-top: 13px;
  margin-left: 165px;
  font-family: 'avenir-next', sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.header-subtitle span {
  color: #fd634e;
}

.header-triag {
  height: 100px;
  overflow: hidden;
  position: absolute;
  border: 73px solid transparent;
  border-right: 1349px solid rgba(253, 99, 78, 0.3);
  border-bottom: 27px solid rgba(253, 99, 78, 0.3);
  width: 100%;
  left: -73px;
  bottom: 0;
}

.features {
  background-color: #a2ca28;
  padding: 60px 0 35px 0;
}

.features .wrapper {
  width: 100%;
  display: flex;
}

.features-block {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.features-block:not(:first-child) {
  margin-left: 40px;
}

.features-icon {
  width: 44px;
  height: 44px;
}

.features-title {
  margin-top: 23px;
  font-size: 24px;
  font-family: 'proxima-nova', sans-serif;
  color: #fff;
}

.features-title:nth-child(3) {
  margin-top: 30px;
}

.features-description {
  font-family: 'proxima-nova', sans-serif;
  margin-top: 32px;
  color: #fff;
  font-size: 14px;
}

.features-link {
  font-family: 'proxima-nova', sans-serif;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: all .5s ease;
  position: absolute;
  bottom: -20%;
}

.features-link:after {
  content: '\2192';
  margin-left: 5px;
}

.features-link:hover {
  color: #ebebeb;
}

.features-link:active {
  color: #c9c9c9;
}

.features-link::first-letter, .features-description::first-letter, .features-title::first-letter {
  text-transform: uppercase;
}

.about {
  background-color: #a2ca28;
  padding-top: 85px;
}

.about .wrapper {
  display: grid;
  grid-template-columns: 400px auto 400px;
  grid-template-rows: 370px 370px;
}

.about-fitness {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px;
}

.about-subtitle {
  color: #fd634e;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'montserrat', sans-serif;
  font-weight: 600;
}

.about-title {
  font-family: "open-sans", sans-serif;
  color: #a2ca28;
  font-size: 35px;
  font-weight: 300;
  margin-top: 13px;
  text-transform: uppercase;
}

.about-icon {
  margin-top: 23px;
  width: 15px;
  height: 23px;
}

.about-description {
  font-family: "open-sans", sans-serif;
  margin-top: 25px;
  color: #656e74;
  font-size: 14px;
  text-align: center;
}

.about-link {
  font-family: "open-sans", sans-serif;
  margin-top: 15px;
  color: #a2ca28;
  font-size: 14px;
  transition: all .5s ease;
}

.about-link:hover {
  color: #c4ec4a;
}

.about-link:active {
  color: #85ad0b;
}

.about-description::first-letter, .about-link::first-letter {
  text-transform: uppercase;
}

.about .fitness-girl {
  grid-column-start: 2;
  grid-column-end: 4;
  position: relative;
}

.about .fitness-girl img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.about .text-girl {
  display: flex;
  position: absolute;
  right: 10%;
  bottom: 10%;
  color: #f7614c;
  font-family: "open-sans", sans-serif;
  font-size: 12px;
  align-items: center;
}

.about .text-girl span {
  color: #ffffff;
}

.about .text-girl .red-icon {
  margin-left: 13px;
}

.about .fitness-watch {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}

.about .fitness-watch img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.about .text-watch {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-family: "open-sans", sans-serif;
  font-size: 12px;
  color: #fff;
}

.about .text-watch .red-icon {
  margin-left: 13px;
}

.about .text-watch .red-icon img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.lifestyle {
  background-color: #fd634e;
}

.lifestyle .container {
  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-template-rows: 300px 300px 300px 300px;
}

.lifestyle .grid-1 img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.lifestyle .grid-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  position: relative;
}

.lifestyle .grid-2 .wrapper {
  position: absolute;
  display: flex;
  padding: 5% 5% 0;
  justify-content: space-between;
  width: 100%;
}

.lifestyle .grid-2 .view {
  display: flex;
  align-items: center;
}

.lifestyle .grid-2 .view .icon {
  margin-left: 10px;
  height: 19px;
}

.lifestyle .grid-2 .text {
  font-family: 'montserrat', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

.lifestyle .grid-2 .picture {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.lifestyle .grid-3 {
  background-color: #fff;
}

.lifestyle .grid-3 .wrapper {
  position: relative;
  padding-top: 10%;
  padding-left: 5%;
}

.lifestyle .grid-3 .subtitle {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fd634e;
}

.lifestyle .grid-3 .title {
  font-family: "open-sans", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  color: #a2ca28;
}

.lifestyle .grid-3 .description {
  width: 90%;
  margin-top: 20px;
  font-family: "open-sans", sans-serif;
  font-size: 14px;
  color: #656e74;
}

.lifestyle .grid-3 .icon {
  position: absolute;
  right: 5%;
  top: 25%;
}

.lifestyle .grid-4 {
  background-color: #a2ca28;
  grid-column-start: 2;
  grid-column-end: 4;
}

.lifestyle .grid-4 .wrapper {
  padding: 5% 5% 0;
  font-family: "open-sans", sans-serif;
  color: #ffffff;
}

.lifestyle .grid-4 .title {
  font-size: 40px;
  text-transform: uppercase;
}

.lifestyle .grid-4 .description {
  width: 85%;
  margin-top: 35px;
  font-size: 13px;
}

.lifestyle .grid-5 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.lifestyle .grid-5 img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.lifestyle .grid-6 img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.lifestyle .grid-7 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #fff;
}

.lifestyle .grid-7 .wrapper {
  position: relative;
  padding-top: 7%;
  padding-left: 5%;
}

.lifestyle .grid-7 .subtitle {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fd634e;
}

.lifestyle .grid-7 .title {
  font-family: "open-sans", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  color: #a2ca28;
}

.lifestyle .grid-7 .description {
  width: 81%;
  margin-top: 20px;
  font-family: "open-sans", sans-serif;
  font-size: 14px;
  color: #656e74;
}

.lifestyle .grid-7 .icon {
  position: absolute;
  right: 5%;
  top: 15%;
}

.lifestyle .grid-8 {
  background-color: #a2ca28;
}

.lifestyle .grid-8 .wrapper {
  position: relative;
  padding-top: 7%;
  padding-left: 5%;
  color: #ffffff;
}

.lifestyle .grid-8 .subtitle {
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.lifestyle .grid-8 .title {
  font-family: "open-sans", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

.lifestyle .grid-8 .description {
  width: 81%;
  margin-top: 20px;
  font-family: "open-sans", sans-serif;
  font-size: 14px;
}

.lifestyle .grid-8 .icon {
  position: absolute;
  right: 5%;
  top: 20%;
}

.banner {
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 600px;
  position: relative;
  padding-top: 20%;
  color: #fff;
  overflow: hidden;
}

.banner-content {
  text-align: center;
}

.banner-title {
  font-family: "open-sans", sans-serif;
  font-size: 45px;
}

.banner-subtitle {
  width: 40%;
  margin: 25px auto 0;
  font-family: "open-sans", sans-serif;
  font-size: 16px;
}

.banner .triang-1 {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  margin: 0;
  border-bottom: 10vh solid black;
  border-left: 100vw solid transparent;
}

.banner .triang-2 {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  margin: 0;
  border-bottom: 10vh solid black;
  border-right: 100vw solid transparent;
}

.triangle {
  width: 100%;
  height: 8%;
  background-color: #000;
  position: relative;
}

.triangle .red-line {
  position: absolute;
  bottom: 0;
  border-bottom: 4vh solid #fd634e;
  border-right: 75vw solid transparent;
}

.footer {
  margin: 0;
  padding-top: 5%;
  background-color: #0d1119;
  padding-bottom: 15%;
}

.footer .wrapper {
  width: 100%;
  display: flex;
}

.footer-block {
  flex-basis: 33%;
}

.footer-block:nth-child(2) {
  margin-left: 50px;
}

.footer-title {
  color: #fff;
  font-size: 15px;
  font-family: "open-sans", sans-serif;
}

.footer-description {
  color: #8297a7;
  font-size: 14px;
  font-family: "open-sans", sans-serif;
  margin-top: 30px;
}

.footer-title::first-letter, .footer-description::first-letter {
  text-transform: uppercase;
}

.footer-social {
  flex-basis: 34%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.footer-icons {
  display: flex;
  margin-top: 21px;
  justify-content: space-around;
}

.footer-icons a {
  border-radius: 50%;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
  transition: .5s all ease;
}

.footer-icons .facebook-logo {
  padding: 19px 26px 17px 26px;
  background-color: #2e3192;
}

.footer-icons .facebook-logo:hover {
  background-color: #4549cc;
}

.footer-icons .twitter-logo {
  padding: 21px 21px 17px 21px;
  background-color: #00aeef;
}

.footer-icons .twitter-logo:hover {
  background-color: #4549cc;
}

.footer-icons .youtube-logo {
  padding: 20px 21px 18px 21px;
  background-color: #ed3123;
}

.footer-icons .youtube-logo:hover {
  background-color: #f15347;
}

.footer-icons .linkedin-logo {
  padding: 20px 23px 18px 24px;
  background-color: #171a8f;
}

.footer-icons .linkedin-logo:hover {
  background-color: #5f64f1;
}

.footer-icons .img_view {
  margin-left: 12px;
}

.footer-forms {
  margin-top: 50px;
  display: flex;
  justify-content: end;
}

.footer-forms .form {
  width: 201px;
  border: 1px solid #0d1119;
  padding: 18px 109px 20px 22px;
  font-family: 'proxima-nova', sans-serif;
  font-size: 14px;
  color: #83969f;
  border-radius: 3px;
  margin-left: 3px;
  transition: all .5s ease;
}

.footer-forms .form:nth-child(2) {
  width: 340px;
}

.footer-forms .form:focus {
  background-color: #f4fff2;
}

.footer-forms .form:hover {
  border: 1px solid #c4ec4a;
}

.footer-forms .button {
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
  font-size: 15px;
  border: 0;
  border-radius: 3px;
  background-color: #a2ca28;
  margin-left: 6px;
  padding: 20px 20px 18px 32px;
  transition: all .5s ease;
  width: 182px;
}

.footer-forms .button-icon {
  margin-left: 9px;
}

.footer-forms .button:hover {
  background-color: #c1e947;
}

.footer-forms .button:active {
  background-color: #91b917;
}

@media only screen and (min-width: 942px) and (max-width: 1200px) {
  .features .wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features-block {
    flex-basis: 40%;
  }
  .features-block:nth-child(3), .features-block:nth-child(4) {
    margin-top: 80px;
  }
  .features-block:nth-child(3) {
    margin-left: 0;
  }
  .lifestyle .grid-7 .title {
    width: 80%;
  }
  .lifestyle .grid-7 .description {
    margin-top: 0;
  }
  .banner-subtitle {
    width: 70%;
  }
}

@media only screen and (min-width: 850px) and (max-width: 941px) {
  .features .wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features-block {
    flex-basis: 40%;
  }
  .features-block:nth-child(3), .features-block:nth-child(4) {
    margin-top: 80px;
  }
  .features-block:nth-child(3) {
    margin-left: 0;
  }
  .about .container {
    width: 100%;
  }
  .lifestyle .container {
    width: 100%;
  }
  .lifestyle .grid-7 .title {
    width: 80%;
  }
  .lifestyle .grid-7 .description {
    margin-top: 0;
  }
  .banner-subtitle {
    width: 70%;
  }
  .footer .form {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 849px) {
  .header-link:not(:last-child) {
    margin-right: 50px;
  }
  .features .wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .features-block {
    flex-basis: 40%;
  }
  .features-block:nth-child(3), .features-block:nth-child(4) {
    margin-top: 80px;
  }
  .features-block:nth-child(3) {
    margin-left: 0;
  }
  .about .container {
    width: 100%;
  }
  .about .wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .about .fitness-watch {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .lifestyle .container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .lifestyle .grid-2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .lifestyle .grid-4 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .lifestyle .grid-5 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .lifestyle .grid-6 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .lifestyle .grid-7 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .lifestyle .grid-7 .title {
    width: 80%;
    font-size: 30px;
  }
  .lifestyle .grid-7 .description {
    margin-top: 0;
  }
  .banner-subtitle {
    width: 70%;
  }
  .footer .wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-social {
    margin-top: 45px;
    text-align: center;
  }
  .footer-forms {
    flex-wrap: wrap;
    justify-content: start;
  }
  .footer-forms fieldset {
    width: 100%;
  }
  .footer-forms .form {
    width: 100%;
    margin-bottom: 5%;
  }
  .footer-forms .form:nth-child(2) {
    width: 100%;
  }
  .footer-forms .button {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header .wrapper {
    display: block;
  }
  .header-top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-menu {
    margin-top: 10%;
  }
  .header-link {
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  .header-subtitle {
    margin-left: 0;
  }
  .header-bottom {
    left: 10%;
    bottom: 10%;
  }
  .header-title {
    font-size: 30px;
  }
  .features .wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .features-block {
    flex-basis: 75%;
    align-items: center;
  }
  .features-block:nth-child(2), .features-block:nth-child(3), .features-block:nth-child(4) {
    margin-top: 80px;
  }
  .features-block:nth-child(2), .features-block:nth-child(3), .features-block:nth-child(4) {
    margin-left: 0;
  }
  .about .container {
    width: 100%;
  }
  .about .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 370px 370px 370px 370px;
  }
  .about .fitness-girl {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .about .fitness-watch {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .about-fitness {
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 10%;
  }
  .about .grid-1 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .lifestyle .container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    text-align: center;
  }
  .lifestyle .wrapper .description {
    width: 100%;
  }
  .lifestyle .wrapper .icon {
    display: none;
  }
  .lifestyle .grid-1 {
    display: none;
  }
  .lifestyle .grid-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .lifestyle .grid-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .lifestyle .grid-3 .wrapper {
    padding-top: 0;
    padding-left: 0;
    padding: 15% 5% 0;
  }
  .lifestyle .grid-4 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .lifestyle .grid-4 .wrapper {
    padding: 12% 5% 0;
  }
  .lifestyle .grid-4 .title {
    font-size: 25px;
  }
  .lifestyle .grid-5 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .lifestyle .grid-6 {
    display: none;
  }
  .lifestyle .grid-7 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .lifestyle .grid-7 .wrapper {
    padding: 10% 5% 0;
  }
  .lifestyle .grid-7 .title {
    font-size: 25px;
  }
  .lifestyle .grid-7 .description {
    margin-top: 5%;
  }
  .lifestyle .grid-7 .icon {
    display: none;
  }
  .lifestyle .grid-8 .wrapper {
    padding: 15%;
  }
  .banner {
    height: 300px;
  }
  .banner-content {
    padding: 0 10%;
  }
  .banner-title {
    font-size: 25px;
  }
  .banner-subtitle {
    font-size: 14px;
    width: 100%;
  }
  .footer .wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-block {
    flex-basis: 100%;
  }
  .footer-block:nth-child(2) {
    margin-left: 0;
    margin-top: 10%;
  }
  .footer-social {
    text-align: center;
    margin-left: 0;
    margin-top: 10%;
    flex-basis: 100%;
  }
  .footer-forms {
    flex-wrap: wrap;
    justify-content: start;
  }
  .footer-forms fieldset {
    width: 100%;
  }
  .footer-forms .form {
    width: 100%;
    margin-bottom: 5%;
  }
  .footer-forms .form:nth-child(2) {
    width: 100%;
  }
  .footer-forms .button {
    width: 100%;
  }
}
