@import 'reset';
@import 'variables';
@import 'fonts';

body * {
    box-sizing: border-box;
    line-height: 1.4 !important; 
}

.container {
    width: 85%;
    margin: 0 auto;
}

.header { 
    background-image: url('../img/header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    padding: 5% 5% 0;
    position: relative;
    height: 100vh;
    overflow: hidden;

    &-top {
        display: flex;
        justify-content: space-between;
    }

    .wrapper {
        display: flex;
    }

    &-description {
        margin-left: 13px;
    }

    &-text {
        font-family: 'avenir-next', sans-serif;
        font-size: 24px;
        color: $white-color;;
        text-transform: uppercase;
        font-weight: 600;
    }

    &-line {
        margin-top: 1px;
        width: 38px;
        height: 3px;
        background-color: $main-color;
    }
    
    &-link {
        display: inline-block;
        font-family: 'avenir-next', sans-serif;
        font-size: 13px;
        color: $white-color;;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        transition: all .5s ease;
    }

    &-link:hover {
        color: #ebebeb;
    }

    &-link:active {
        color: #c9c9c9;
    }

    &-link:not(:last-child) {
        margin-right: 50px;
    }

    &-bottom {
        position: absolute;
        bottom: 20%;
        left: 10%;
    }

    &-title {
        font-family: 'avenir-next', sans-serif;
        font-size: 40px;
        color: $white-color;
        text-transform: uppercase;

        span {
            color: $main-color;
        }
    }

    &-subtitle {
        margin-top: 13px;
        margin-left: 165px;
        font-family: 'avenir-next', sans-serif;
        font-size: 15px;
        color: $white-color;
        text-transform: uppercase;
        font-weight: 700;

        span {
            color: #fd634e;
        }
    }

    &-triag {
        height: 100px;
        overflow: hidden;
        position: absolute;
        border: 73px solid transparent; 
        border-right: 1349px solid rgba(253, 99, 78, 0.3);;
        border-bottom: 27px solid rgba(253, 99, 78, 0.3);;
        width: 100%;
        left: -73px;
        bottom: 0;
    }
}

.features {
    background-color: $main-color;
    padding: 60px 0 35px 0;

    .wrapper {
        width: 100%;
        display: flex;
    }

    &-block {
        display: flex;
        flex-basis: 25%;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    &-block:not(:first-child) {
        margin-left: 40px;
    }

    &-icon {
        width: 44px;
        height: 44px;
    }

    &-title {
        margin-top: 23px;
        font-size: 24px;
        font-family: 'proxima-nova', sans-serif;
        color: $white-color;
    }

    &-title:nth-child(3) {
        margin-top: 30px;
    }
    
    &-description {
        font-family: 'proxima-nova', sans-serif;
        margin-top: 32px;
        color: $white-color;
        font-size: $main-size;
    }

    &-link {
        font-family: 'proxima-nova', sans-serif;
        color: $white-color;
        font-size: $main-size;
        text-decoration: none;
        transition: all .5s ease;
        position: absolute;
        bottom: -20%;
    }

    &-link:after {
        content: '\2192';
        margin-left: 5px;
    }

    &-link:hover {
        color: #ebebeb;
    }

    &-link:active {
        color: #c9c9c9;
    }

    &-link::first-letter,
    &-description::first-letter,
    &-title::first-letter {
        text-transform: uppercase;
    }
}

.about {
    background-color: $main-color;
    padding-top: 85px;
    
    .wrapper {
        display: grid;
        grid-template-columns: 400px auto 400px;
        grid-template-rows: 370px 370px;
    }

    &-fitness {
        background-color: $white-color;;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 52px;
    }

    &-subtitle {
        color: #fd634e;
        font-size: $main-size;
        text-transform: uppercase;
        font-family: 'montserrat', sans-serif;
        font-weight: 600;
    }

    &-title {
        font-family: $main-font-family;
        color: $main-color;
        font-size: 35px;
        font-weight: 300;
        margin-top: 13px;
        text-transform: uppercase;
    }

    &-icon {
        margin-top: 23px;
        width: 15px;
        height: 23px;
    }

    &-description {
        font-family: $main-font-family;
        margin-top: 25px;
        color: #656e74;
        font-size: $main-size;
        text-align: center;
    }

    &-link {
        font-family: $main-font-family;
        margin-top: 15px;
        color: $main-color;
        font-size: $main-size;
        transition: all .5s ease;
    }

    &-link:hover {
        color: #c4ec4a;
    }

    &-link:active {
        color: #85ad0b;
    }

    &-description::first-letter,
    &-link::first-letter {
        text-transform: uppercase;
    }

    .fitness-girl {
        grid-column-start: 2;
        grid-column-end: 4;
        position: relative;
        
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    .text-girl {
        display: flex;
        position: absolute;
        right: 10%;
        bottom: 10%;
        color: #f7614c;
        font-family: $main-font-family;
        font-size: 12px;
        align-items: center;

        span {
            color: #ffffff;
        }

        .red-icon {
            margin-left: 13px;
        }
    }

    .fitness-watch {
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    .text-watch {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10%;
        left: 10%;
        font-family: $main-font-family;
        font-size: 12px;
        color: #fff;

        .red-icon {
            margin-left: 13px;

            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }
}

.lifestyle {
    background-color: #fd634e;

    .container {
        display: grid;
        grid-template-columns: 300px auto 300px;
        grid-template-rows: 300px 300px 300px 300px;
    }

    .grid-1 {

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    .grid-2 {
        grid-column-start: 2;
        grid-column-end: 4;
        position: relative;

        .wrapper {
            position: absolute;
            display: flex;
            padding: 5% 5% 0;
            justify-content: space-between;
            width: 100%;
        }

        .view {
            display: flex;
            align-items: center;

            .icon {
                margin-left: 10px;
                height: 19px;
            }
        }

        .text {
            font-family: 'montserrat', sans-serif;
            color: #ffffff;
            text-transform: uppercase;
            font-size: $main-size;
        }

        .picture {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    .grid-3 {
        background-color: #fff;

        .wrapper {
            position: relative;
            padding-top: 10%;
            padding-left: 5%;
        }

        .subtitle {
            font-family: 'montserrat', sans-serif;
            font-size: $main-size;
            text-transform: uppercase;
            color: #fd634e;
        }

        .title {
            font-family: $main-font-family;
            font-size: 35px;
            text-transform: uppercase;
            color: $main-color;
        }

        .description {
            width: 90%;
            margin-top: 20px;
            font-family: $main-font-family;
            font-size: $main-size;
            color: #656e74;
        }

        .icon {
            position: absolute;
            right: 5%;
            top: 25%;
        }
    }

    .grid-4 {
        background-color: $main-color;
        grid-column-start: 2;
        grid-column-end: 4;

        .wrapper {
            padding: 5% 5% 0;
            font-family: $main-font-family;
            color: #ffffff;
        }

        .title {
            font-size: 40px;
            text-transform: uppercase;
        }

        .description {
            width: 85%;
            margin-top: 35px;
            font-size: 13px;
        }
    }

    .grid-5 {
        grid-column-start: 1;
        grid-column-end: 3;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    .grid-6 {

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    .grid-7 {
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: #fff;

        .wrapper {
            position: relative;
            padding-top: 7%;
            padding-left: 5%;
        }

        .subtitle {
            font-family: 'montserrat', sans-serif;
            font-size: $main-size;
            text-transform: uppercase;
            color: #fd634e;
        }

        .title {
            font-family: $main-font-family;
            font-size: 35px;
            text-transform: uppercase;
            color: $main-color;
        }

        .description {
            width: 81%;
            margin-top: 20px;
            font-family: $main-font-family;
            font-size: $main-size;
            color: #656e74;
        }

        .icon {
            position: absolute;
            right: 5%;
            top: 15%;
        }
    }

    .grid-8 {
        background-color: $main-color;

        .wrapper {
            position: relative;
            padding-top: 7%;
            padding-left: 5%;
            color: #ffffff;
        }

        .subtitle {
            font-family: 'montserrat', sans-serif;
            font-size: $main-size;
            text-transform: uppercase;
        }

        .title {
            font-family: $main-font-family;
            font-size: 25px;
            text-transform: uppercase;
        }

        .description {
            width: 81%;
            margin-top: 20px;
            font-family: $main-font-family;
            font-size: $main-size;
        }

        .icon {
            position: absolute;
            right: 5%;
            top: 20%;
        }
    }
}

.banner {
    background-image: url('../img/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 600px;
    position: relative;
    padding-top: 20%;
    color: #fff;
    overflow: hidden;

    &-content {
        text-align: center;
    }

    &-title {
        font-family: $main-font-family;
        font-size: 45px;
    }

    &-subtitle {
        width: 40%;
        margin: 25px auto 0;
        font-family: $main-font-family;
        font-size: 16px;
    }

    .triang-1 {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        margin: 0;
        border-bottom: 10vh solid black;
        border-left: 100vw solid transparent;
    }

    .triang-2 {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        margin: 0;
        border-bottom: 10vh solid black;
        border-right: 100vw solid transparent;
    }
}

.triangle {
    width: 100%;
    height: 8%;
    background-color: #000;
    position: relative;

    .red-line {
        position: absolute;
        bottom: 0;
        border-bottom: 4vh solid #fd634e;
        border-right: 75vw solid transparent;
    }
}

.footer {
    margin: 0;
    padding-top: 5%;
    background-color: #000;
    padding-bottom: 15%;

    .wrapper {
        width: 100%;
        display: flex;
    }

    &-block {
        flex-basis: 33%;
        
        &:nth-child(2) {
            margin-left: 50px;
        }
    }

    &-title {
        color: $white-color;;
        font-size: 15px;
        font-family: $main-font-family;
    }

    &-description {
        color: #8297a7;
        font-size: $main-size;
        font-family: $main-font-family;
        margin-top: 30px;
    }

    &-title::first-letter,
    &-description::first-letter {
        text-transform: uppercase;
    }

    &-social {
        flex-basis: 34%;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }

    &-icons {
        display: flex;
        margin-top: 21px;
        justify-content: space-around;

        a {
            border-radius: 50%;
            text-align: center;
            margin-right: 6px;
            margin-left: 6px;
            transition: .5s all ease;
        }

        .facebook-logo {
            padding: 19px 26px 17px 26px;
            background-color: #2e3192;

            &:hover {
                background-color: #4549cc;
            }
        }

        .twitter-logo {
            padding: 21px 21px 17px 21px;
            background-color: #00aeef;

            &:hover {
                background-color: #4549cc;
            }
        }

        .youtube-logo {
            padding: 20px 21px 18px 21px;
            background-color: #ed3123;

            &:hover {
                background-color: #f15347;
            }
        }

        .linkedin-logo {
            padding: 20px 23px 18px 24px;
            background-color: #171a8f;

            &:hover {
                background-color: #5f64f1;
            }
        }

        .img_view {
            margin-left: 12px;
        }
    }

    &-forms {
        margin-top: 50px;
        display: flex;
        justify-content: end;

        .form {
            border: 1px solid #0d1119;;
            padding: 18px 109px 20px 22px;
            font-family: 'proxima-nova', sans-serif;
            font-size: $main-size;
            color: #83969f;
            border-radius: 3px;
            margin-left: 3px;
            transition: all .5s ease;
        }

        .form:focus {
            background-color: #f4fff2;
        }

        .form:hover {
            border: 1px solid #c4ec4a;
        }

        .button {
            color: $white-color;;
            font-family: 'proxima-nova', sans-serif;
            font-size: 15px;
            border: 0;
            border-radius: 3px;
            background-color: $main-color;
            margin-left: 6px;
            padding: 20px 40px 18px 32px;
            transition: all .5s ease;
        }

        .button:hover {
            background-color: #c1e947;
        }

        .button:active {
            background-color: #91b917;
        }
    }
}

@import 'media';