html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'avenir-next';
  src: url("../fonts/avenir-next/avenir-next.ttf") format("ttf"), url("../fonts/avenir-next/avenir-next.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url("../fonts/proxima-nova/proxima-nova.woff") format("woff"), url("../fonts/proxima-nova/proxima-nova.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat/montserrat.woff") format("woff"), url("../fonts/montserrat/montserrat.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src: url("../fonts/open-sans/open-sans.woff") format("woff"), url("../fonts/open-sans/open-sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body * {
  box-sizing: border-box;
  line-height: 1.5 !important;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  padding: 40px 70px 150px 50px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header .wrapper {
  display: flex;
}

.header-description {
  margin-left: 13px;
}

.header-text {
  font-family: 'avenir-next', sans-serif;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.header-line {
  margin-top: 1px;
  width: 38px;
  height: 3px;
  background-color: #a2ca28;
}

.header-link {
  display: inline-block;
  font-family: 'avenir-next', sans-serif;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: all .5s ease;
}

.header-link:hover {
  color: #ebebeb;
}

.header-link:active {
  color: #c9c9c9;
}

.header-link:not(:last-child) {
  margin-right: 65px;
}

.header-bottom {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

.header-title {
  font-family: 'avenir-next', sans-serif;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

.header-title span {
  color: #a2ca28;
}

.header-subtitle {
  margin-top: 13px;
  margin-left: 165px;
  font-family: 'avenir-next', sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.header-subtitle span {
  color: #fd634e;
}

.header-triag {
  height: 100px;
  overflow: hidden;
  position: absolute;
  border: 73px solid transparent;
  border-right: 1349px solid rgba(253, 99, 78, 0.3);
  border-bottom: 27px solid rgba(253, 99, 78, 0.3);
  width: 100%;
  left: -73px;
  bottom: 0;
}

.features {
  background-color: #a2ca28;
  padding: 60px 0 35px 0;
}

.features .wrapper {
  width: 100%;
  display: flex;
}

.features-block {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.features-block:not(:first-child) {
  margin-left: 40px;
}

.features-icon {
  width: 44px;
  height: 44px;
}

.features-title {
  margin-top: 23px;
  font-size: 24px;
  font-family: 'proxima-nova', sans-serif;
  color: #fff;
}

.features-title:nth-child(3) {
  margin-top: 30px;
}

.features-description {
  font-family: 'proxima-nova', sans-serif;
  margin-top: 32px;
  color: #fff;
  font-size: 14px;
}

.features-link {
  font-family: 'proxima-nova', sans-serif;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: all .5s ease;
  position: absolute;
  bottom: -20%;
}

.features-link:after {
  content: '\2192';
  margin-left: 5px;
}

.features-link:hover {
  color: #ebebeb;
}

.features-link:active {
  color: #c9c9c9;
}

.features-link::first-letter, .features-description::first-letter, .features-title::first-letter {
  text-transform: uppercase;
}

.about {
  background-color: #a2ca28;
  padding-top: 85px;
}

.about .wrapper {
  display: grid;
  grid-template-columns: 400px auto 400px;
  grid-template-rows: 370px 370px;
}

.about-fitness {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px;
}

.about-subtitle {
  color: #fd634e;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'montserrat', sans-serif;
}

.about-title {
  font-family: "open-sans", sans-serif;
  color: #a2ca28;
  font-size: 35px;
  font-weight: 300;
  margin-top: 13px;
  text-transform: uppercase;
}

.about-icon {
  margin-top: 23px;
}

.about-description {
  font-family: "open-sans", sans-serif;
  margin-top: 25px;
  color: #656e74;
  font-size: 14px;
  text-align: center;
}

.about-link {
  font-family: "open-sans", sans-serif;
  margin-top: 15px;
  color: #a2ca28;
  font-size: 14px;
  transition: all .5s ease;
}

.about-link:hover {
  color: #c4ec4a;
}

.about-link:active {
  color: #85ad0b;
}

.about-description::first-letter, .about-link::first-letter {
  text-transform: uppercase;
}

.about .fitness-girl {
  grid-column-start: 2;
  grid-column-end: 4;
}

.about .fitness-girl img {
  width: 100%;
  object-fit: cover;
}

.about .fitness-watch {
  grid-column-start: 1;
  grid-column-end: 3;
}

.about .fitness-watch img {
  width: 100%;
  object-fit: cover;
}

.lifestyle {
  background-color: #fd634e;
  padding: 0 95px;
  display: grid;
  grid-template-columns: 400px auto 400px;
  grid-template-rows: 360px 310px 350px 310px;
}

.lifestyle-health {
  grid-column-start: 2;
  grid-column-end: 4;
}

.lifestyle-block {
  background-color: #fff;
  position: relative;
  padding: 40px 60px 70px 40px;
}

.lifestyle-block .block-subtitle {
  color: #fd634e;
  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.lifestyle-block .block-title {
  font-size: 35px;
  font-family: "open-sans", sans-serif;
  color: #a2ca28;
  text-transform: uppercase;
  margin-top: 13px;
}

.lifestyle-block .block-icon {
  position: absolute;
  top: 57px;
  right: 28px;
}

.lifestyle-block .block-description {
  color: #656e74;
  font-family: "open-sans", sans-serif;
  font-size: 14px;
  margin-top: 40px;
}

.lifestyle-block-summer {
  background-color: #a2ca28;
}

.banner {
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100vh;
}

.banner-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 240px;
  text-align: center;
}

.banner-title {
  color: #fff;
  font-family: "open-sans", sans-serif;
  font-size: 45px;
}

.banner-title::first-letter {
  text-transform: uppercase;
}

.banner-subtitle {
  margin-top: 25px;
  color: #fff;
  font-family: "open-sans", sans-serif;
  font-size: 16px;
  padding-left: 370px;
  padding-right: 450px;
}

.footer {
  background-color: #0d1119;
  padding-top: 65px;
  height: 100vh;
}

.footer-block {
  display: flex;
}

.footer-info {
  margin-left: 50px;
}

.footer-title {
  color: #fff;
  font-size: 15px;
  font-family: "open-sans", sans-serif;
}

.footer-description {
  color: #8297a7;
  font-size: 14px;
  font-family: "open-sans", sans-serif;
  margin-top: 30px;
}

.footer-title::first-letter, .footer-description::first-letter {
  text-transform: uppercase;
}

.footer-social {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.footer-icons {
  display: flex;
  margin-top: 21px;
}

.footer-icons .img_view {
  margin-left: 12px;
}

.footer-forms {
  margin-top: 50px;
  display: flex;
  justify-content: end;
}

.footer-forms .form {
  border: 1px solid #0d1119;
  padding: 18px 109px 20px 22px;
  font-family: 'proxima-nova', sans-serif;
  font-size: 14px;
  color: #83969f;
  border-radius: 3px;
  margin-left: 3px;
  transition: all .5s ease;
}

.footer-forms .form:focus {
  background-color: #f4fff2;
}

.footer-forms .form:hover {
  border: 1px solid #c4ec4a;
}

.footer-forms .button {
  color: #fff;
  font-family: 'proxima-nova', sans-serif;
  font-size: 15px;
  border: 0;
  border-radius: 3px;
  background-color: #a2ca28;
  margin-left: 6px;
  padding: 20px 40px 18px 32px;
  transition: all .5s ease;
}

.footer-forms .button:hover {
  background-color: #c1e947;
}

.footer-forms .button:active {
  background-color: #91b917;
}
