@import 'reset';
@import 'variables';
@import 'fonts';

body * {
    box-sizing: border-box; 
}

.container {
    width: 1157px;
    margin: 0 auto;
}

.header { 
    background-image: url('../img/header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 40px 70px 150px 50px;
    position: relative;
    height: 100vh;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wrapper {
        display: flex;
    }

    &-description {
        margin-left: 13px;
    }

    &-text {
        font-family: 'avenir-next', sans-serif;
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
    }

    &-line {
        margin-top: 1px;
        width: 38px;
        height: 3px;
        background-color: #a2ca28;
    }
    
    &-link {
        display: inline-block;
        font-family: 'avenir-next', sans-serif;
        font-size: 13px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
    }

    &-link:hover {
        color: #ebebeb;
    }

    &-link:active {
        color: #c9c9c9;
    }

    &-link:not(:last-child) {
        margin-right: 65px;
    }

    &-bottom {
        margin-top: 349px;
        margin-left: 65px;
    }

    &-title {
        font-family: 'avenir-next', sans-serif;
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;

        span {
            color: #a2ca28;
        }
    }

    &-subtitle {
        margin-top: 13px;
        margin-left: 165px;
        font-family: 'avenir-next', sans-serif;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;

        span {
            color: #fd634e;
        }
    }

    // &-figure {
    //     position: absolute;
    //     border: 65px solid transparent;
    //     border-right: 1346px solid green;
    //     border-bottom: 45px solid green;
    //     bottom: 0;
    //     left: -62px;
    // }
}

.features {
    background-color: #a2ca28;
    padding: 60px 0 35px 0;

    &-block {
        display: flex;
        align-items: center;
    }

    .wrapper:not(first-child) {
        margin-right: 40px;
    }

    .wrapper:nth-child(3) h2 {
        margin-top: 31px;
    }

    &-title {
        margin-top: 23px;
        font-size: 24px;
        font-family: 'proxima-nova', sans-serif;
        color: #fff;
    }
    
    &-description {
        font-family: 'proxima-nova', sans-serif;
        margin-top: 32px;
        color: #fff;
        font-size: 14px;
    }

    &-link {
        display: block;
        margin-top: 28px;
        font-family: 'proxima-nova', sans-serif;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
    }

    &-link:hover {
        color: #ebebeb;
    }

    &-link:active {
        color: #c9c9c9;
    }

    &-link::first-letter,
    &-description::first-letter,
    &-title::first-letter {
        text-transform: uppercase;
    }
}

.about {
    background-color: #a2ca28;
    padding: 85px 95px 0 95px;
    display: grid;
    grid-template-columns: 400px auto 400px;
    grid-template-rows: 400px 400px;

    &-fitness {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 52px;
    }

    &-subtitle {
        color: #fd634e;
        font-size: 14px;
        text-transform: uppercase;
    }

    &-title {
        color: #a2ca28;
        font-size: 35px;
        font-weight: 300;
        margin-top: 13px;
        text-transform: uppercase;
    }

    &-icon {
        margin-top: 23px;
    }

    &-description {
        margin-top: 25px;
        color: #656e74;
        font-size: 14px;
        text-align: center;
    }

    &-link {
        margin-top: 15px;
        color: #a2ca28;
        font-size: 14px;
    }

    &-link:hover {
        color: #c4ec4a;
    }

    &-link:active {
        color: #85ad0b;
    }

    &-description::first-letter,
    &-link::first-letter {
        text-transform: uppercase;
    }

    &-pic_1 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    &-pic_2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.lifestyle {
    background-color: #fd634e;
    padding: 0 95px;
    display: grid;
    grid-template-columns: 400px auto 400px;
    grid-template-rows: 350px 310px 350px 310px;

    &-health {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    &-block {
        background-color: #fff;
    }
}

.banner {
    background-image: url('../img/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100vh;

    &-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 240px;
        text-align: center;
    }

    &-title {
        color: #fff;
        font-family: 'open-sans', sans-serif;
        font-size: 45px;
    }

    &-title::first-letter {
        text-transform: uppercase;
    }

    &-subtitle {
        margin-top: 25px;
        color: #fff;
        font-family: 'open-sans', sans-serif;
        font-size: 16px;
        padding-left: 370px;
        padding-right: 450px;
    }
}

.footer {
    background-color: #0d1119;
    padding-top: 65px;
    height: 100vh;
    // padding-bottom: 500px;

    &-block {
        display: flex;
    }

    &-info {
        margin-left: 50px;
    }

    &-title {
        color: #fff;
        font-size: 15px;
        font-family: 'open-sans', sans-serif;
    }

    &-description {
        color: #8297a7;
        font-size: 14px;
        font-family: 'open-sans', sans-serif;
        margin-top: 30px;
    }

    &-title::first-letter,
    &-description::first-letter {
        text-transform: uppercase;
    }

    &-social {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }

    &-icons {
        display: flex;
        margin-top: 21px;

        .img_view {
            margin-left: 12px;
        }
    }

    &-forms {
        margin-top: 50px;
        display: flex;
        justify-content: end;

        .form {
            border: 0;
            padding: 18px 109px 20px 22px;
            font-family: 'proxima-nova', sans-serif;
            font-size: 14px;
            color: #83969f;
            border-radius: 3px;
            margin-left: 3px;
        }

        .button {
            color: #fff;
            font-family: 'proxima-nova', sans-serif;
            font-size: 15px;
            border: 0;
            border-radius: 3px;
            background-color:#a2ca28;
            margin-left: 6px;
            padding: 20px 40px 18px 32px;
        }
    }
}